body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bea2e7+0,86b7e7+100 */
  background: none !important;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bea2e7', endColorstr='#86b7e7',GradientType=0 );
  /* IE6-9 */
}


.loader {
  position: absolute;
  z-index: 1;
  border: 2px solid #183247;
  border-radius: 50%;
  border-top: 2px solid #f3f3f3;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 40%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ticket-details__requestor {
    border-color: #bbdcfe;
    background-image: linear-gradient(#e5f2fd,#e5f2fd);
    border: 1px solid #BBDDFE;
    border-radius: 4px;
}

.ticket-details__privatenote {
  border: 1px solid #fddbb5;
  background-image: linear-gradient(#fef1e1,#fef1e1);
}

.ticket-details__item {
    border-radius: 4px;
    background-image: linear-gradient(#f5f7f9,#f5f7f9);
    position: relative;
    border: 1px solid #ebeff3;
}

.label {	height: 20px;	width: 125px;	color: #12344D;	font-size: 12px;	font-weight: bold;	line-height: 20px;}

.button-edit {
  height: 20px;	width: 43px;
}

.button-edit span.icon-edit {
  background: url(edit.svg) no-repeat;
  float: left;
  width: 10px;
  height: 40px;
}

#overall-summary {
  padding: 10px 0;
  color: #022942;
  font-size: 14px;
  line-height: 20px;
}

.container ul {
  margin: 0;
  margin-top: 0px;
  list-style: none;
  position: relative;
  padding: 10px 0px;;
  color: #fff;
  font-size: 13px;
}
.container ul:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px none  rgba(18, 128, 109, 0.8);
}
/* .container ul li:nth-child(odd) {
  background-color: #E5F2FD; */
/* } */
.container ul li {
  position: relative;
  /* margin-left: 0px; */
  background-color:  rgba(18, 128, 109, 0.15);
  padding: 8px;
  border-radius: 3px;
  width: 100%;
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08); */
}
.container ul li:not(:first-child) {
  margin-top: 30px;
}
.container ul li > span {
  width: 2px;
  height: 100%;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}
 /* .container ul li > span:after {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid rgba(18, 128, 109, 0.4);
  position: absolute;
  background: #fff;
  left: -8px;
  top: 0;
  margin-top: -8px; */
/* } */
.container ul li span:after {
  top: 50%;
  border: 2px solid  rgba(18, 128, 109, 0.8);
}
.container ul li > div {
  margin-left: 20px;
}
.container #summary .title, .container #summary .type {
  font-weight: 600;
  font-size: 12px;
}
.container #summary .info {
  font-weight: 300;
}
.container #summary > div {
  margin-top: 5px;
}
/* .container span.number {
  height: 100%;
  background-color: rgba(18, 128, 109, 0.8);
  font-size:10px;
}
.container span.number span {
  position: absolute;
  font-size: 10px;
  left: -65px;
  /*font-weight: bold;*/
/* }
.container span.number span:first-child {
  top: 0;
  top: 38%;
  text-align: left; */ */
/* } */
/*.container span.number span:last-child {
  
}*/

/*veeru css */
.container #summary .type {
  font-weight: 600;
  font-size: 8px;
  float:right;
  font-family: fantasy;
}

#total-summary {
  display: none;
}
/*veeru css */

.btn--default {
  border: 1px solid #CFD7DF;
  border-radius: 4px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F5F7F9 100%);
  padding: 2px 5px;
  min-width: 68px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: #12344D;
  font-weight: 500;
}

.btn--default:hover {
  color: 12344D;
  text-decoration: none;
}

.btn--default .__icon {
  margin-right: 5px;
  width: 12px;
}

.valign{
  padding-top: 6px;
}

.heading-h4 {
  color: #12344D;	
  font-size: 12px;	
  font-weight: bold;	
  line-height: 20px;
}

.heading-h6 {
  color: #697582;	
  font-size: 12px;	
  font-weight: 400;	
  line-height: 20px;
}

.summary-details {
  margin: 0;
  padding: 0;
  position: relative;
}

.summary-details li {
  margin-bottom: 25px;
  padding: 3px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  position: relative;
  margin-left: 120px;
  list-style: none;
}

.summary-details li::before{
  content: '';
  padding: 4px;
  height: 4px;
  position: absolute;
  left: 0;
  background-color: #92A2B1;
  border-radius: 100%;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px #92A2B1;
  top: 40%;
  left: -25px;
}
.summary-details li:last-child {
  margin-bottom: 0;
}

.summary-details::before {
  content: '';
  border-left: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 103px;
  margin-top: 28px;
  margin-bottom: 19px;
}

.summary-details li > .data-edit-icon{
  position: absolute;
  left: -120px;
  display: inline-block;
  width: 85px;
  color: #697582;	
  font-size: 12px;	
  font-weight: 400;	
  line-height: 16px;
  top: 40%;
}

.summary-details li[data-edited="true"]::before {
  content: '';
  background-color: white;
  background-image: url(./edit.svg);
  background-size: cover;
  border-color: transparent;
  background-repeat: no-repeat;
}
.summary-details li:hover p {
  display: none;
}

.summary-details li:hover .edit--icon {
  display: block;
}

.edit--icon {
  display: none;
  position: absolute;
  left: 8px;
  top: -2px;
  margin: auto;
}