body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bea2e7+0,86b7e7+100 */
  background: none !important;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bea2e7', endColorstr='#86b7e7',GradientType=0 );
  /* IE6-9 */
}

.container ul {
  margin: 0;
  margin-top: 0px;
  list-style: none;
  position: relative;
  padding: 0px 50px;;
  color: #fff;
  font-size: 13px;
}
.container ul:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed  rgba(18, 128, 109, 0.8);
}
.container ul li:nth-child(odd) {
  background-color: #E5F2FD;
}
.container ul li {
  position: relative;
  margin-left: 30px;
  background-color:  rgba(18, 128, 109, 0.15);
  padding: 6px;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.container ul li:not(:first-child) {
  margin-top: 30px;
}
.container ul li > span {
  width: 2px;
  height: 100%;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}
 .container ul li > span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid rgba(18, 128, 109, 0.4);
  position: absolute;
  background: #fff;
  left: -3.5px;
  top: 0;
}
.container ul li span:after {
  top: 50%;
  border: 2px solid  rgba(18, 128, 109, 0.8);
}
.container ul li > div {
  margin-left: 20px;
}
.container #summary .title, .container #summary .type {
  font-weight: 600;
  font-size: 12px;
}
.container #summary .info {
  font-weight: 300;
}
.container #summary > div {
  margin-top: 5px;
}
.container span.number {
  height: 100%;
  background-color: rgba(18, 128, 109, 0.8);
  font-size:10px;
}
.container span.number span {
  position: absolute;
  font-size: 10px;
  left: -45px;
  /*font-weight: bold;*/
}
.container span.number span:first-child {
  top: 0;
  top: 38%;
  text-align: left;
}
/*.container span.number span:last-child {
  
}*/

/*veeru css */
.container #summary .type {
  font-weight: 600;
  font-size: 8px;
  float:right;
  font-family: fantasy;
}

#total-summary {
  display: none;
}
/*veeru css */
