.logo {
  /* background: url('freshdesk_logo.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  margin-top: 25px;
}
/*copied css*/
html,
body {
  /*font: 100% "Lato", sans-serif;*/
  font-size:14px;
  font-weight: 300;
  height: 100%;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
}
.loader {
  position: absolute;
  z-index: 1;
  border: 2px solid #183247;
  border-radius: 50%;
  border-top: 2px solid #f3f3f3;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 20%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.body {
  background-color: #f5f7f9;
}

.btn {
  background-color: #03b875 !important;
  border-color: #03b875 !important;
}

.custom-card {
    background-color: #ebeff3 !important;
    border-radius: 4px !important;
    padding: 6px !important;
    border: none !important;
}

.custom-card-body {
  background-color: #ebeff3 !important;
  font-size: 12px;
  padding: 8px !important;
  font-weight: 500;
  color: #475867;;
}

.blue-bg {
  /*background-color: #4D4545;*/
  color: black;
  height: 100%;
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #ED8D8D;
  color: #4D4545;
  max-height: 50px;
  z-index: 2;
}

/*.how-it-works.row {
  display: flex;
}*/
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ED8D8D;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 100%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #ED8D8D;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #ED8D8D;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
.message {
	padding-top:10px;
	padding-bottom: 10px;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 5px;
	box-shadow: 5px 10px 5px 10px #aaaaaa;
}
/*copied css*/
